body, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fontes e cores */
  body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #000;
    color: #fff;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .menu a:hover {
    color: #f0a500;
  }
  
  /* Carrossel */
  .carousel {
    display: flex;
    overflow: hidden;
    height: 60vh;
  }
  
  .carousel-item {
    flex: 1;
    min-width: 100%;
    background-size: cover;
    background-position: center;
    animation: slide 15s infinite;
  }
  
  /* Animação */
  @keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
  }
  
  /* Coleções */
  #collections {
    padding: 20px;
    background: #fff;
  }
  
  .collection-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  

  .item {
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }
  
  /* Footer */
  footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
